# Introduction to data analysis using SQL 

KAGGLE: https://www.kaggle.com/code/dimarudov/data-analysis-using-sql

In [2]:
# Import dependencies

import numpy as np      # for linear algebra
import pandas as pd  # for data processing and reading CSV files
import sqlite3 
import matplotlib.pyplot as plt  # for graphs

Always check the correct path of the files/database

path = ".../input/ insert path"

database = path + "name of the database to load"

In [6]:
# Create the connection to the DB 
conn = sqlite3.connect("database.sqlite")

In [8]:
# Check what tables we have
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...